:root {
    --animation-stage-zero: 50ms;
    --animation-stage-one: calc(var(--animation-stage-zero) + 200ms);
    --animation-stage-two: calc(var(--animation-stage-one) + 200ms);
}

body {
    animation: 300ms ease-in-out var(--animation-stage-zero) both fade-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

::selection {
    background-color: var(--light);
    color: var(--dark-green);
}

button {
    appearance: none;
    background: unset;
    user-select: auto;
    cursor: pointer;
    color: unset;
}